<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/register.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="main-container">
      <%- include(`partials/header.ejs`, {auth: auth, admin: admin})%>
      <div class="dynamic-content">
        <div>
          <h2>Register</h2>
          <p>( Admin rights will be randomly assigned )</p>
        </div>
        <%- include(`partials/formError.ejs`)%>
        <form action="/register" method="post" class="login-register">
          <div>
            <label for="fullname">Full Name</label>
            <input type="text" name="fullname" id="fullname" required />
          </div>
          <div>
            <label for="username">username</label>
            <input type="text" name="username" id="username" required />
          </div>
          <div>
            <label for="password">password</label>
            <input type="password" name="password" id="password" required />
          </div>
          <button>Register</button>
        </form>
      </div>
      <%- include(`partials/footer.ejs`)%>
    </div>
  </body>
</html>
