@font-face {
  font-family: "Inter";
  src: url(/assets/Inter-Variable.ttf);
}
@font-face {
  font-family: "Newsreader";
  src: url(/assets/Newsreader.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: "Inter";
  font-weight: 300;
}

body {
  background-color: rgb(17, 17, 17);
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 15px;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
}

header h1 {
  flex: 1;
}

header h1 > a {
  flex: 1;
  font-family: "Newsreader";
  font-weight: 300;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

footer {
  align-self: center;
}

form input {
  border: 0px;
  border-radius: 5px;
  padding: 15px 10px;
  background-color: white;
  color: black;
}

form button {
  border: 0px;
  border-radius: 5px;
  padding: 15px 10px;
  background-color: white;
  color: black;
  font-family: "Newsreader";
  font-size: 1.2rem;
}

form button:hover {
  cursor: pointer;
}

.dynamic-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dynamic-content h2 {
  font-family: "Newsreader";
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
}

.dynamic-content > div p {
  font-style: italic;
}

.login-register {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-register > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.admin {
  color: rgb(219, 36, 36);
  font-weight: 500;
}

.admin-txt {
  color: rgb(219, 36, 36);
  font-family: "Newsreader";
  font-weight: 500;
}
