.errors {
  padding-bottom: 30px;
  text-align: center;
}

.errors ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.errors li {
  list-style: none;
  color: rgb(209, 48, 48);
}

.normal {
  outline: none;
}

.red {
  outline: 1px red solid;
}
